body {
  font-size: 1.5rem;
}
.navbar {
  background-color: #7269e7;
}
.btn:active {
  box-shadow: inset 0px 0.1em 0.6em #7269e7;
  transform: translateY(0em);
}
.navbar a sup {
  background-color: red;
  color: white;
  padding: 4px;
  border-radius: 50%;
  font-size: 0.6em;
  text-align: center;
}
.fa-cart-shopping {
  color: aliceblue;
  font-size: 1.3rem;
  margin-top: 20%;
  margin-right: 2px;
}
.nav-link {
  color: aliceblue !important;
}

.add-btn {
  background: #7269e7 !important;
  color: aliceblue !important;
}
