section {
}
.wrapped {
  margin-right: 0;
  height: 60px;
  min-width: 150px;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.wrapped input {
  width: 50px;
  border: none;
  padding: 5px;
  text-align: center;
  font-size: 30px;
}
.wrapped input.num {
  font-size: 25px;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}

.btn-del {
  justify-content: end;
  margin-left: 90%;
  max-width: 60px;
}
.buy-btn {
  background: #7269e7 !important;
  color: aliceblue !important;
}
.alert {
  margin-bottom: 0;
  text-align: center;
}
