* {
  font-family: "Comic Neue", cursive;
  font-family: "Martian Mono", monospace;
}

header {
  height: 80px;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  background-color: #645bdf;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
}

.header-body {
  font-size: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.header-body a {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
}
.navbar {
  margin-top: 10px;
}

.navbar a {
  margin-right: 15px;
}

.navbar a i {
  margin-right: 5px;
}

.navbar a sup {
  background-color: red;
  color: white;
  padding: 2px 5px;
  border-radius: 50%;
  font-size: 0.8em;
}

.navbar a:hover {
  background: #fff;
  padding: 5px;
  border-radius: 8px;
  transition: 0.5;
  color: #453cca;
}

.bxs-cart:active {
  visibility: none;
}
#homeBtn {
  margin-top: 20px;
  margin-left: 30px;
}
#homeBtn:hover {
  background: #fff;
  padding: 5px;
  border-radius: 8px;
  transition: 0.5;
  color: #453cca;
}
